// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-console": 0,
    "strict": [2, "function"],
    "max-len": [2, 120, 4],
    "no-plusplus": 0,
    "camelcase": 2,
    "quote-props": [2, "as-needed", { "keywords": true }]
  }
}
